#adminConsole {
	width: 100%;
}
#adminConsole label {
	display: inline-block;
	width: 180px;
	text-align: right;
	margin-right: 10px;
}

input[type=text],
input[type=email],
input[type=password] {
	padding:4px;
	border-width: 1px;
}

button {
	margin-top:6px;
	border-radius: 5px;
	padding:6px 15px;
	min-width:100px;
	border-width: 1px;
	font-weight: bold;
}

button:hover {
	color:#fff;
	background-color: #6d4391;
	cursor: pointer;
	}

#adminConsole select {
	border-radius: 5px;
	padding:4px;
	width: 180px;
}

#adminConsole #calendar td {
	font-family: arial;
	height:90px;
	vertical-align: top;
}
#adminConsole #calendar td {
	border:1px solid #ddd;
}
#adminConsole #calendar span.date {
	font-size:1.1em;
	color:white;
	background-color: #333;
	padding: 1px 3px;
	font-weight: bold;
}

#adminConsole #calendar .rd {
	color:white;
	background-color: #6d4391;
	padding: 1px 3px;
	font-weight: bold;
	display:block;
}

#adminConsole #calendar .rd a {
	color:#fff;
}

#adminConsole #calendar .ra {
	color:black;
	background-color: #eeb111;
	padding: 1px 3px;
	display:block;
}
#adminConsole #calendar .switch_0 {
	color:black;
	background-color: #F5FF30;
	padding: 1px 3px;
	display:block;
}

#adminConsole #calendar .switch_1 {
	color:black;
	background-color: #0AD8F7;
	padding: 1px 3px;
	display:block;
}

#adminConsole #calendar .switch_2 {
	color:black;
	background-color: #FA0C0C;
	padding: 1px 3px;
	display:block;
}

#adminConsole #calendar .switch_3 {
	color:black;
	background-color: #00FF11;
	padding: 1px 3px;
	display:block;
}

#adminConsole #calendar .switch_4 {
	color:black;
	background-color: #FA0C0C;
	padding: 1px 3px;
	display:block;
}

#field {
 	display: none;
	position: fixed !important;
	left: 0; 
	top: 0; 
	width: 400px !important;
	height: 200px !important;
	z-index: 1000 !important;
	background: #fff;
	border-radius: 10px;
	padding:20px;
	text-align: center;
	border:1px #999 solid;
}
#mask {
	display: none;
	background: #fff !important; 
	position: fixed !important;
	left: 0 !important; 
	top: 0 !important; 
	width: 100% !important; 
	height: 100% !important;
	opacity: 0.6 !important;
	z-index: 500 !important;
}

#adminConsole #myschedule tr td:first-child{
	color: #000;
	font-size: 1em;
	width:200px;
	font-weight: bold;
	vertical-align: top;
}
#adminConsole #myschedule tr td:last-child{
	font-size: 1.1em;
	padding-bottom: 20px;
}

#adminConsole #usersTable th {
	padding-top:10px;
	border-bottom: 1px #333 solid;
} 