#adminConsole {
	font-family: "Trebuchet MS", sans;
}

#adminConsole h1 {
	font-family: serif;
	font-size: 1.6em;
	color: #333;
}

#adminConsole label {
	display: inline-block;
	width: 180px;
	text-align: right;
	margin-right: 10px;
}

#adminConsole input[type=text],
#adminConsole input[type=email],
#adminConsole input[type=password] {
	padding:4px;
	border-width: 1px;
}

#adminConsole button {
	border-radius: 5px;
	padding:4px 10px;
}

#adminConsole select {
	border-radius: 5px;
	padding:4px;
	width: 180px;
}

#adminConsole #calendar td {
	font-family: arial;
	height:90px;
	vertical-align: top;
}
#adminConsole #calendar td {
	border:1px solid #ddd;
}
#adminConsole #calendar span.date {
	font-size:1.1em;
	color:white;
	background-color: black;
	padding: 1px 3px;
	font-weight: bold;
}

#adminConsole #calendar .rd {
	color:white;
	background-color: navy;
	padding: 1px 3px;
	font-weight: bold;
	display:block;
}

#adminConsole #calendar .ra {
	color:black;
	background-color: yellow;
	padding: 1px 3px;
	display:block;
} 