
#adminConsole label {
	display: inline-block;
	width: 180px;
	text-align: right;
	margin-right: 10px;
}

form input[type=text],
form input[type=email],
form input[type=password] {
	padding:4px;
	border-width: 1px;
}

form button {
	margin-top:6px;
	border-radius: 5px;
	padding:4px 10px;
}

#adminConsole select {
	border-radius: 5px;
	padding:4px;
	width: 180px;
}

#adminConsole #calendar td {
	font-family: arial;
	height:90px;
	vertical-align: top;
}
#adminConsole #calendar td {
	border:1px solid #ddd;
}
#adminConsole #calendar span.date {
	font-size:1.1em;
	color:white;
	background-color: black;
	padding: 1px 3px;
	font-weight: bold;
}

#adminConsole #calendar .rd {
	color:white;
	background-color: navy;
	padding: 1px 3px;
	font-weight: bold;
	display:block;
}

#adminConsole #calendar .ra {
	color:black;
	background-color: yellow;
	padding: 1px 3px;
	display:block;
}

#field {
 	display: none;
	position: fixed !important;
	left: 0; 
	top: 0; 
	width: 400px !important;
	height: 200px !important;
	z-index: 1000 !important;
	background: #fff;
	border-radius: 10px;
	padding:20px;
	text-align: center;
	border:1px #999 solid;
}
#mask {
	display: none;
	background: #fff !important; 
	position: fixed !important;
	left: 0 !important; 
	top: 0 !important; 
	width: 100% !important; 
	height: 100% !important;
	opacity: 0.6 !important;
	z-index: 500 !important;
}

#adminConsole #myschedule tr td:first-child{
	color: #000;
	font-size: 1em;
	width:200px;
	font-weight: bold;
	vertical-align: top;
}
#adminConsole #myschedule tr td:last-child{
	font-size: 1.1em;
	padding-bottom: 20px;
}