@charset "utf-8";
html {
	height: 100%;
}
body {
	margin: 0px;
	font-family: "Trebuchet MS", Arial;
	height: 100%;
	background-color: #ddd;
}

#container {
    margin: 0px auto;
    width: 1000px;
    background-color: #fff;
}

#topBar {
    padding: 10px;
    height: 40px;
    background-color:#d5b711;
}
#sideBar {
    padding: 20px 0px;
    height: 900px;
	float: left;
	width: 200px;
    background-color:#4b204a;
	color:#FFFFFF;
	height: 90%;
}
#content {
	margin-left:205px; /* our sidebar */
	margin-top:10px;
	width:790px;
}

.nofloat {
	clear: both;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	border-width: 1px;
	padding:5px;
	margin-left: 0px;
}

button {
	padding: 5px 20px;
	margin-left: 3px;
}

#login-form {
	width: 400px;
	margin: 100px auto;
}

#signup-form {
	width: 400px;
	margin: 10px auto;
}

#login-form label {
	width: 100px;
	display:  inline-block;
}

#signup-form label {
	width: 150px;
	display:  inline-block;
}

#error {
	color:#f00;
	font-size: .8em;
	font-weight: bold;
	padding: 10px 0px;
}

#success {
	color:#080;
	font-size: .8em;
	font-weight: bold;
	padding: 10px 0px;
}

#sideBar a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	margin:10px;
	padding:5px;
	display:block;
	color:#fff;
}
#sideBar a:hover,
#topBar a:hover {
	background-color: #fff;
	color:#4b204a;
}

#topBar a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding:5px;
	display:inline-block;
	color:#fff;
}
