img {border-style:none;}
a {
	text-decoration:none;
	color: #414AC7;
}
header-box {
	display:none;
	}
/*main container*/
#main {
	position:relative;
	margin:0 auto;
	width: 966px;
}
.header-holder {
	height:1%;
	overflow:hidden;
}
.search {
	display: none;
}
.label {display:none;}

/*nav*/
.nav {
	display: none;
}
/*header*/
#header {
	padding:0;
}

.header-box {
	clear:both;
}
/*logo*/
#header .logo {
	margin:0;
	float:left;
	padding:0 0 0 14px;
	height:115px;
}
#header .logo a img {display:inline;}

/*small-nav*/
.small-nav {
	display: none;
}
/*menu*/
.menu {
	display: none;
}

/*content*/
#content {
	width:960px;
	padding:0px 0px 32px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
	margin-left: -180px;
}

/*content-box*/
.content-box {
	padding:0px;
	width: 100%;
	margin: 0px;
}

/*picture*/
.picture {
display:none;
}
/* tabs */

/*text-list*/

/*content-holder*/
.content-holder {
	padding:0px;
	margin: 0px;
}
/*featured-box*/
.featured-box {
display:none;
}


/*contaner*/
.contaner {
	float:left;
	width:960px;
}
.contaner-top {
	width: 960px;
}
#page .contaner-top {}
.contaner-bottom {
}
#page .contaner-bottom {padding-top:5px;}
/*content*/
/*frame-box*/

/*news-list*/

/*column*/
.column {
	display: none;
	width: 0px;
	margin: 0px;
	padding: 0px;
}


/*featured*/
.featured {
	display: none;
}
/*related*/
.related {
	display: none;
}
/*ad*/
.ad {
	display:none;	
}
/*Taken out to allow news box height to vary*/ 

/*violet-box*/
.violet-box {
	display: none;
}

/*news*/

/*menu-tab*/
/*tab-nav*/

/*title*/
/*post*/
.post .image {
	display: none;
}
.post .image img {display:none;}
/*img*/
.img img {display:none;}
.img {
	display:none;
}
/*breadcrumbs*/
.breadcrumbs {
	display: none;
}

/*tabs */
/*list*/
/*popular-box*/
/*column-box*/
.column-box {
	display: none;
}
.sidebar .column-box {display: none;}

/*expert*/
.expert {
	display: none;
	}

/*form*/
/*ask*/
.ask {
	display:none;
}
/*sidebar*/
.sidebar {
	display:none;
}
/*line below commented out to allow multiple items in sidebar to flowt to the top
#page .sidebar {padding-top:322px;}*/
/*i-went*/

/*event-box*/
.event-box {
	display:none;
}

/*footer*/
#footer {
	display: none;
}
.ads {
	display: none;
}
