@charset "utf-8";
/* CSS Document */
#container
{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
	height:100%;
	
}

#topBar
{
    
    font-family: ebrima;
    padding-top: 5px;
	width: auto;
    height: 40px;
    background-color:#FFD700;
}
#sideBar
{
    padding: 0px;
    height: 93%;
	float: left;
	width: 10%;
	min-width: 100px;
	max-width: 250px;
    background-color:#800080;
	color: #FFFFFF;
}
#content
{
	margin-top:auto;
	height: 93%;
	width: 90%;
	float: left;
	background-image: url(bg.png);
	color: #800080;
}
#footer 
{
	border-top: 1px solid #CBCBCB;
	margin: 0 auto;
	overflow: hidden;
	padding: 8px 0 30px;
	max-height: 50px;
	width: 100%;
	color: #800080;
	background-color:#FFD700;
} 
