@charset "utf-8";
/* CSS Document */
#container
{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#topBar
{
    
    font-family: ebrima;
    padding-top: 5px;
	width: auto;
    height: 40px;
    background-color:#8286bf;
}
#sideBar
{
    padding: 0px;
    height: 900px;
	float: left;
	width: 10%;
    background-color:#FFD700;
}
#content
{
	margin-top:auto;
	height: 500px;
	width: 90%;
	float: left;
}